/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;  
  box-sizing: border-box;
  }

  body {
    background: url("https://img.freepik.com/free-vector/paper-style-white-monochrome-background_52683-66443.jpg?size=626&ext=jpg&ga=GA1.2.400147222.1669946911");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    overflow-y: hidden;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
  }

input {
    padding: 7px 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    outline: none;

    border-bottom: 1px solid gray;
    background-color: transparent;
    color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

select {
    padding: 7px 0px;
    width: 100%;
    border: none;
    border-radius: 7px;
    outline: none;
    border-bottom: 1px solid gray;

    color: black;

    background-color: transparent;
}

select option {
  color: black;
}

option {
    padding: 3px;
    border-radius: 20px;
    
    background-color: transparent;
}

button {
    padding: 17px 13px;
    border: none;
    border-radius: 17px;
    background-color: white;
    margin-top: 10px;

    background-color: black;
    color: white;
    transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transform: scale(1.035);
  transition: 0.3s;
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.156);
}
button:disabled:hover {
  background-color: rgba(0, 0, 0, 0.156);
  color: white;
}

.show-data-container { 
  display: none; /* flex */
  flex-direction: column;
  text-align: center;
  gap: 10px;
  transform: translateY(15px);
}

.data-container {
  height: 50vh;
  width: 100%;
  z-index: 1;
  height: auto;
}

.data-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 17%);
  padding: 10px;
  text-align: center;
  gap: 20px;
}

.mes-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

#back-month-button {
font-weight: bold;
font-size: 20px;
}
#next-month-button {
  font-weight: bold;
  font-size: 20px;
  }
  
.grid-item {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.grid-item:hover {
cursor: pointer;
transform: scale(1.035);
background-color: black;
color: orangered;
}
.first-text-area {
    height: 150px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    padding: 10px;
    color: black;

    background-color: transparent;
    border: 1px solid gray;
}
.another-text-area {
  height: 70px;
  width: 100%;
  border-radius: 7px;
  outline: none;
  padding: 10px;
  color: black;

  border-color: gray;
}
.main-title {
    text-align: center;
    margin-top: 35px;
}

.input-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1px;

}

.input-container-no-border {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

:disabled:hover {
  cursor: not-allowed;
}

  .main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .main-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100%;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  .grid-imgs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    padding: 0px 50px;
  }
  
  .sobre-img-section {
    width: 100%;
    height: 100%;
  }

  .sobre-img-section img {
    width: 100%;
    height: 100%;
  }

span {
  cursor: pointer;
}

  .grid-box {
    /* display: flex;
    justify-content: center; */
    height: 100vh;
    width: 100%;
  }
  .grid-title {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    transform: translateY(15px);
    font-size: 30px;
    font-weight: 700;
  }

  .grid-title img {
    width: 13%;
    height: 13%;
  }
  .warning {
    z-index: 1;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 35px;
    border-radius: 16px;

    padding: 5px;
    background-color: red;
    color: white;
  }
  
  .grid-sub-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
   }

  .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 90%;
    /*margin-left: 10%;*/
    height: 100%;
  }

  .left-img {
    /*margin-top: -27%;*/
    margin-top: 20px;
    width: 450px;
    height: 450px;
    object-fit: fill;
  }

  /* .left-img {
    margin-top: 20px;
    width: 119%;
    height: 75%;
  } */
  
  .right {
    padding: 5px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 17px;
  }

  .show-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sem-vagas {
    font-size: 24px;
    font-weight: bold;
  }

  label {
    font-size: 15.5px;
    font-weight: 700;
    transition: 0.3s;
  }

  label:hover {
    transition: 0.3s;
  }
  input:hover {
    cursor: pointer;
  }
  select:hover {
    cursor: pointer;
  }

  
  input[type="date"] {
    position: relative;
    border: none;
  color: black;
  border-bottom: 1px solid gray;

}

input[type="date"]:after {
    content: "\25BC"; 
    color: #555;
    padding: 0 5px;
}


input[type="date"]:hover:after {
    color: black;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}


input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}


 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }



 .flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 17px;
 }

 
 .flex-container-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 17px;
 }
 
 #show-3 {
  gap: 11px; 
  /* gap: 7px;  */
 }

 #show-3 .grid-sub-title {
  margin-top: -50px;
 }

 .whats-btn {
  background-color: #a4c639;
  width: 100%;
}

 @media (max-width: 900px) {
  body {
    overflow-y: auto;
  }

  .main-grid {
      display: flex;
      flex-direction: column;
      grid-template-columns: repeat(2, 50%);
    }
    .grid-box {
      margin-top: 55px;
      height: 100%;
      width: 100%;
    }

    /* .left-img {
      width: auto;
      height: auto;
    } */


    /* .grid-title {
      display: none;
    } */
  
    .left-img {
      margin-top: -25px;
      margin-bottom: -20px;
    }

    input-container {
     border: 1px dashed black;
    }
    
    .right {
    gap: 11px;
    font-size: 14.5px;
  }


}

@media (max-height: 731px) {
  body {
    /* overflow-y: auto; */
    font-size: 14.5px;
  }

  .right {
    gap: 11px;
    font-size: 14.5px;
  }
 

  label {
    font-size: 13px;
    font-weight: bold;
  }
  

  /* .grid-title {
    display: none;
  } */

  .left-img {
    margin-top: -25px;
    margin-bottom: -20px;

    width: 400px;
    height:400px;
  }

  #show-3 {
    gap: 11px;
   }

   .sub-title-client {
    margin-bottom: -25px;
   }
  
   input {
    padding: 4px;
   }

}

@media (max-height: 822px) and (min-height: 732px) {
  .left-img {
    width: 470px;
    height: 470px;
  }
}

@media (max-height: 680px) {
  body {
    font-size: 14.5px;
  }

  label {
    font-size: 12.5px;
    font-weight: bold;
  }

  /* .grid-title {
    display: none;
  } */

  .left-img {
    margin-top: -25px;
    margin-bottom: -20px;
  }
  
  #show-3 {
    gap:11px; 
    /* gap: 7px;  */
   }

   .right {
    gap: 11px;
    font-size: 14.5px;
  }

   #show-3 .grid-sub-title {
    margin-top: -10px;
    margin-bottom: -10px;
   }

}

@media (max-height: 599px) {
  body {
    font-size: 14.5px;
  }

  .right {
    gap: 11px;
    font-size: 14.5px;
  }

  label {
    font-size: 11.5px;
    font-weight: bold;
  }

  /* .grid-title {
    display: none;
  } */

  .left-img {
    margin-top: -25px;
    margin-bottom: -20px;
  }

  #show-3 {
    gap: 11px;
   }
  

}

